body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
    height: 95vh;
    display: grid;
    grid-template-columns: 40px 40px auto 40px 40px;
    grid-template-rows: 40px 40px auto 40px 40px;
    overflow: hidden;
    align-items: center;
    background: rgb(20,20,20);
}

svg {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    width: 80%;
    display: block;
    margin:  auto;
}

h1{
    color: white;
    margin: auto 0;
    width: auto;
    font-size: 22pt;
}

h2 {
    margin: auto 0;
    width: auto;
    font-size: 22pt;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: none;
}

p {
    color: white;
    font-size: 12pt;
    font-family: 'Arial Narrow';
    white-space: nowrap;
}

/*///////////////////////// ID's //////////////////////////*/

#heySVG{
    width: 1%;
}

#pTitle1{
    display: block;
    grid-column-start: 2;
    grid-row-start: 1;
}

#pTitle2{
    grid-column-start: 4;
    grid-row-start: 5;
    transform-origin: center;
    transform: rotate(180deg);
}

#nTitle1{
    grid-column-start: 1;
    grid-row-start: 2;
    transform: rotate(90deg);

}

#nTitle2{
    grid-column-start: 5;
    grid-row-start: 4;
    transform-origin: center;
    transform: rotate(-90deg);
}

#dText1{
    margin: auto 0;
    text-indent: 7em;
    grid-column-start: 1;
    grid-row-start: 2;
    transform: rotate(90deg);
}

#dText2{
    margin: auto 0;
    text-indent: 7em;
    grid-column-start: 5;
    grid-row-start: 4;
    transform: rotate(-90deg);
}

#backgrndSVG {
    z-index: -3;
    width:200%;
}